.pagination {
  display: flex;

  span {
    font-weight: var(--font_weight_bolder);
    font-size: var(--font_size_normal);
  }

  .arrow {
    width: 16px;
    height: 16px;
  }
  .arrow:hover {
    cursor: pointer;
  }
  .left {
    margin-right: 20.21px;
  }
  .right {
    margin-left: 20.21px;
  }
  .disabled {
    opacity: 0.5;
  }
}
