.block {
  padding: 24px;
  border: 1px solid rgba(70, 85, 104, 0.5);
  border-radius: 16px;
  background: rgba(41, 54, 83, 0.5);

  margin-top: 22px;

  .title_block {  
    .price {
      color: white;
      font-weight: 900;
      font-size: 40px;
      line-height: 54.56px;
    }
  
    .subtitle_block {
      display: flex;
  
      .dynamics {
        color: rgb(16, 199, 162);
        font-size: 14px;
  
        display: flex;
  
        .val {
          padding: 2px;
        }
  
        .profit {
          background: rgba(16, 199, 162, 0.2);
          padding: 2px;
          border-radius: 4px;
        }
      }
    }
  }
}
