@import 'common/themes/mixins';

.transaction {
  max-width: 1256px;
  margin-top: 48px;
  margin-bottom: 56px;

  .title {
    font-size: 32px;
    line-height: 32px;
    font-weight: 900;

    margin-bottom: 16px;
  }
  
  .dark {
    --color: var(--color_blue_gray_50);
    --border: 1px solid rgba(255, 255, 255, 0.13);
    --box_shadow: 0px 16px 24px rgba(0, 0, 0, 0.15);
  }
  
  .light {
    --color: var(--color_blue_gray);
    --border: 1px solid var(--color_blue_gray_200);
    --box_shadow: 0px 16px 24px rgba(0, 0, 0, 0.15);
  }

  .tableTitle {
    font-size: 16px;
    font-weight: 800;
    color: var(--color);
  }
}
