@import 'common/themes/mixins';

.dark {
  --color: var(--color_blue_gray);
  --border: 1px solid rgba(255, 255, 255, 0.13);
  --bg_color: #293653;
}

.light {
  --color: var(--color_white);
  --border: 1px solid var(--color_blue_gray_200);
  --bg_color: rgba(255, 255, 255, 0.2);
}

.networks_container {
  --font_size: 24px;
  --secondary_size: 16px;
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1256px;
  .menu_item {
    max-width: 397px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg_color);
    height: 104px;
    padding: 30px 24px;
    border: var(--border);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    border-radius: 8px;
    cursor: pointer;
    .title_container {
      display: flex;
      align-items: center;
    }
  }
}
.title {
  font-weight: var(--font_weight_bolder);
  font-size: var(--font_size);
}
.secondaryTitle {
  font-weight: var(--font_weight_normal);
  font-size: var(--secondary_size);
}
.icon {
  width: 40px;
  height: 40px;
  background-color: var(--color);
  margin-right: 16px;
  border-radius: 50%;
}
@include laptop() {
  .networks_container {
    grid-template-columns: 1fr 1fr;
  }
}
@include mobile() {
  .networks_container {
    grid-template-columns: 1fr;
  }
  .menu_item {
    max-width: inherit !important;
    margin: 0 auto 30px auto;
    width: 100%;
  }
}
