@import 'common/themes/mixins';

.common_header_info {
  display: flex;

  .content {
    @include flex_centered_vert();
    cursor: pointer;
    position: relative;
  }

  .icon {
    margin-right: 7px;
  }
}
