@import 'common/themes/mixins';

.dark {
  --color: var(--color_blue_gray_50);
  --bg_dropdown: var(--color_blue_gray_bg);
  --border_color: 1px solid rgba(255, 255, 255, 0.13);
}

.light {
  --color: var(--color_blue_gray);
  --bg_dropdown: var(--color_white);
  --border_color: 1px solid rgba(255, 255, 255, 0.13);
}

.common_header_gas_info_menu {
  --font_size: 18px;
  --font_size_secondary: 14px;
  --divider: radial-gradient(
    101.46% 151.04% at 0% -1.46%,
    rgba(217, 217, 218, 0.25) 0%,
    rgba(70, 85, 104, 0.5) 100%
  );

  min-width: 384px;
  padding: 0 8px;

  .menu_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    max-width: 336px;
    height: 68px;
    margin: 0 auto;
    .menu_item_title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .title {
      color: var(--color);
      font-weight: var(--font_weight_bolder);
      font-size: var(--font_size);
    }
    .time {
      font-size: var(--font_size_secondary);
      color: var(--color);
      opacity: 0.7;
    }
    .icon {
      width: 16px;
      height: 16px;
      margin-right: 12px;
      border-radius: 50%;
      background-color: var(--color);
      margin-right: 12px;
    }
  }

  .divider {
    height: 1px;
    margin: 5px 0;
    background: var(--divider);
  }
  .price_container {
    .time {
      text-align: end;
    }
  }
}

.dropdownIcon {
  margin-right: 25px;
}
