@import 'common/themes/mixins';

.dark {
  --color: var(--color_blue_gray_50);
  --border: 1px solid rgba(255, 255, 255, 0.13);
}

.light {
  --color: var(--color_blue_gray);
  --border: 1px solid var(--color_blue_gray_200);
}

.controlls {
	display: flex;
	justify-content: space-between;
  width: 100%;

  margin-bottom: 32px;

  .input_container {
    flex: 1;
    .input {
      width: 40%;
    }
    @media screen and (max-width: 1024px) {
      .input {
        width: 80%;
      }
    }
    @include tablet() {
      .input {
        width: 100%;
        margin: 0 auto;
      }
    }
  }

	.right {
		display: flex;

		font-size: 14px;
		line-height: 19.1px;
		font-weight: 800;

		.networks, .pagination {
			padding: 18px;
		}

		.networks {
			border: var(--border);
			border-radius: 8px;
		}

    .pagination {
      .arrow {
        display: inline;
        vertical-align: text-top;
        color: var(--color);
      }
      .left {
        margin-right: 4px;
      }
      .right {
        margin-left: 4px;
      }
    }

    @include tablet () {
      justify-content: space-around;
    }
	}

  @include tablet () {
    flex-direction: column;
    gap: 20px;
  }
}
