.chart {
  .link {
    display: inline-block;
    color: rgb(39, 198, 159);
    font-size: 16px;

    .arrow {
      max-width: 16px;
      
    }
  }

  .title {
    color: white;
    font-family: 'Nunito';
    font-size: 48px;
    line-height: 65.47px;
    font-weight: 800;

    .ticker {
      font-size: 24px;
      line-height: 32.74px;
      font-weight: 400;
    }
  }
}
