@import 'common/themes/mixins';

.row {
  display: flex;
  max-width: 1152px;
  width: 100%;

  padding: 48px;

  @include tablet() {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
}

.row:not(:last-child) {
  border-bottom: 1px solid rgba(70, 85, 104, 0.5);
}
