@import 'common/themes/mixins';

.dark {
  --color: var(--color_white);
  --bg_color_after: radial-gradient(
    101.46% 151.04% at 0% -1.46%,
    rgba(217, 217, 218, 0.25) 0%,
    rgba(70, 85, 104, 0.5) 100%
  );
}

.light {
  --color: var(--color_blue_gray_800);
  --bg_color: rgba(255, 255, 255, 0.2);
  --bg_color_after: var(--color_blue_gray_200);
}

.common_profile {
  display: flex;
  position: relative;
  padding-bottom: 18px;
  color: var(--color);

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 32px;
    background: var(--bg_color_after);
    height: 1px;
  }

  .profile_icon {
    width: 48px;
    height: 48px;
  }

  .amount {
    font-weight: var(--font_weight_bolder);
    font-size: var(--subtitle_large_font_size);
  }

  .profile_info {
    display: flex;
    flex-direction: column;
    margin-left: 8px;

    .wallet {
      @include flex_centered_vert();
    }

    .content {
      margin-left: 12px;
    }
  }
}
