.dark {
  --color: var(--color_blue_gray_50);
}

.light {
  --color: var(--color_blue_gray);
}

.landing_page {
  --title_color: var(--color_green_500);

  .header {
    &.header_content {
      max-width: 1251px;

      .input {
        margin-left: 25px;
      }
    }
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 84px);

    .title {
      color: var(--title_color);
    }

    .subtitle {
      margin: 24px 0;
      text-align: center;
      font-size: var(--subtitle_large_font_size);
    }
  }
}
