@import 'common/themes/mixins';

.dark {
  --color: var(--color_blue_gray_50);
}

.light {
  --color: var(--color_blue_gray);
}

.landing_page {
  --title_color: var(--color_green_bg);

  .header {
    &.header_content {
      .input {
        margin-left: 25px;
      }
    }
  }

  .container {
    flex-direction: column;
    @include flex_centered();
    min-height: calc(100vh - 84px);
    padding: 32px;

    @include tablet() {
      margin: 24px 0;
    }

    @include mobile() {
      margin: 20px 0;
    }

    .title {
      font-weight: var(--font_weight_bolder);
      font-size: 64px;
      @include laptop() {
        font-size: var(--h1_font_size);
        text-align: center;
      }

      &_colored {
        color: var(--title_color);
      }
    }

    .subtitle {
      margin: 24px 0;
      text-align: center;
      font-size: var(--subtitle_large_font_size);

      @include tablet() {
        margin: 48px 0;
      }
    }
  }

  .footer {
    max-width: 1251px;
    margin: 0 auto;
  }
}
