@import 'common/themes/mixins';

.dark {
  --color: var(--color_blue_gray_300);
  --skeleton_color: var(--color_blue_gray_50);
}

.light {
  --color: var(--color_blue_gray_300);
  --skeleton_color: var(--color_blue_gray_50);
}

.skeleton {
  border-radius: 3px;
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      var(--skeleton_color) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    var(--color);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s skeleton_loading ease-in-out infinite;
}

@keyframes skeleton_loading {
  to {
    background-position-x: -20%;
  }
}
