@import 'common/themes/mixins';

.dark {
  --color: var(--color_blue_gray_50);
}

.light {
  --color: var(--color_blue_gray);
}

.common_currency_picker {
  @include flex_centered_vert();
  cursor: pointer;

  .currency {
    margin-right: 7px;
    color: var(--color);
    font-size: var(--font_size_medium);
    font-weight: var(--font_weight_bolder);
  }
}
