@mixin flex_grow {
  display: flex;
  flex: 1;
}

@mixin flex_centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex_centered_vert {
  display: flex;
  align-items: center;
}

@mixin flex_centered_horz {
  display: flex;
  justify-content: center;
}

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

$mobile-size: 540px;
$tablet-size: 960px;
$laptop-size: 1251px;

@mixin narrow() {
  @media all and (max-width: $tablet-size) {
    @content;
  }
}

@mixin mobile() {
  @media all and (max-width: $mobile-size) {
    @content;
  }
}

@mixin tablet() {
  @media all and (max-width: $tablet-size) {
    @content;
  }
}

@mixin laptop() {
  @media all and (max-width: $laptop-size) {
    @content;
  }
}

@mixin media($width, $type: max-width) {
  @media all and ($type: $width) {
    @content;
  }
}
