@import './reboot.scss';
@import './texts.scss';

body {
  color: var(--color_primary);
  font-family: var(--font_family);
  background-color: var(--color_bg);
  font-size: var(--font_size_medium);
  font-weight: var(--font_weight_normal);

  transition: all 250ms ease-out;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color_blue_gray) var(--color_blue_gray_900);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--color_blue_gray_900);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color_blue_gray);
  border-radius: 20px;
  border: 1px solid var(--color_blue_gray_900);
}
