h1 {
  font-weight: var(--hx_font_weight);
  font-family: var(--font_family);
  font-size: var(--h1_font_size);
  line-height: var(--h1_font_size);
}

h2 {
  font-weight: var(--hx_font_weight);
  font-family: var(--font_family);
  font-size: var(--h2_font_size);
}

h3 {
  font-weight: var(--hx_font_weight);
  font-family: var(--font_family);
  font-size: var(--h3_font_size);
}

h4 {
  font-weight: var(--hx_font_weight);
  font-family: var(--font_family);
  font-size: var(--h4_font_size);
}

h5 {
  font-weight: var(--hx_font_weight);
  font-family: var(--font_family);
  font-size: var(--h5_font_size);
}

h6 {
  font-weight: var(--font_weight_semi_bold);
  font-family: var(--font_family);
  font-size: var(--h6_font_size);
}
