@import 'common/themes/mixins';

.dark {
  --color: var(--color_blue_gray_50);
  --border: 1px solid var(--color_blue_gray);
}

.light {
  --color: var(--color_blue_gray);
  --border: 1px solid var(--color_blue_gray);
}
.menu_item {
  --font_size: 18px;
  --font_size_secondary: 14px;
  --red_color: #e53e3e;
  --bg_red_color: rgba(229, 62, 62, 0.2);

  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 72px;
  width: 100%;
  .hidden {
    display: none !important;
  }
  .icon_container {
    position: relative;
    width: 40px;
    height: 40px;
  }
  .icon {
    height: 100%;
    width: auto;
  }
  .networkIcon {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
  }
  .title {
    font-family: var(--font_family);
    font-size: var(--font_size);
    font-weight: var(--font_weight_bolder);
    margin-left: 16px;
  }
  .title_container {
    width: calc(100% / 3);

    @include flex_centered_vert();
  }
  .price_container,
  .claimable_container {
    text-align: end;
    width: calc(100% / 3);
    justify-content: flex-end;
    align-items: center;
  }
  .price_container {
    padding-right: 52px;
  }
  .claimable_container {
    @include flex_grow();
  }
  .secondaryPriceTitle {
    font-size: var(--font_size_secondary);
    color: var(--color_green_500);
  }
  .secondaryPricePercentTitle {
    font-size: var(--font_size_secondary);
    border-radius: 5px;
    color: var(--color_green_500);
    background-color: rgba(16, 199, 162, 0.2);
    margin-left: 10px;
  }
  .minusValue {
    color: var(--red_color);
    background-color: var(--bg_red_color);
  }
  .minusValuePrice {
    color: var(--red_color);
  }
  .arrowIcon {
    margin-left: 40px;
  }
}
.button {
  cursor: pointer;
  width: 100%;
  border-bottom: var(--border);
}
.button:last-child {
  border-bottom: unset;
}
@include mobile() {
  .price_container {
    display: none;
  }
}
