@import 'common/themes/mixins';

.dark {
  --color: var(--color_blue_gray_50);
}

.light {
  --color: var(--color_blue_gray);
}

.arrow_container {
  display: inline;
  vertical-align: middle;
  .arrow {
    margin-right: 12.21px;
  }
}

.link {
  color: rgba(39, 198, 159, 1);
  font-size: 16px;
}

.title {
  @include flex_centered_vert;
  margin-bottom: 32px;
  
  .img {
    width: 40px;
    height: 40px;

    margin-right: 8px;
  }
  .text {
    font-size: 48px;
    font-weight: var(--font_weight_bolder);
  
    span {
      font-size: 24px;
      font-weight: 400;

      margin-left: 16px;
    }
  }
}
